{openapi: 3.1.0,info: {title: Syndicate Dashboard API,version: 1.3.0,description: "Bun-powered, YAML-governed, grep-first REST + WS"},servers: [{url: https://api.syndicate.gov,description: Production Vault},{url: ws://localhost:3003,description: Local WS Broadcast}],paths: {"/config/{hash}": {get: {summary: Retrieve interpolated YAML by hash,tags: [config,yaml],operationId: get-config-by-hash,parameters: [{name: hash,in: path,required: true,schema: {type: string}}],responses: {"200": {description: 200 response,content: {application/json: {schema: {$ref: "#/components/schemas/ConfigResponse"},example: {hash: abc123,data: "!encrypted ${VAULT:api/main}"}}}},"404": {description: 404 response,content: {application/json: {schema: {$ref: "#/components/schemas/Error"}}}}},security: [{vault: []}]}},/config/store: {post: {summary: Store YAML with auto-interpolation & zstd,tags: [config,write],operationId: store-yaml-config,parameters: [],requestBody: {required: true,content: {application/json: {schema: {$ref: "#/components/schemas/StoreRequest"}}}},responses: {"201": {description: 201 response,content: {application/json: {schema: {$ref: "#/components/schemas/StoreResponse"}}}}},security: [{csrf+vault: []}]}},/ws/config-update: {get: {summary: Live YAML diff stream with permessage-deflate,tags: [realtime,ws],operationId: ws-live-config,parameters: [],responses: {"200": {description: Success,content: {application/json: {schema: {type: object}}}}},security: [{csrf: []}]}},/config/validate: {post: {summary: Schema-check YAML before store,tags: [config,validate],operationId: validate-yaml-schema,parameters: [],requestBody: {required: false,content: {application/json: {schema: {$ref: "#/components/schemas/YAMLString"}}}},responses: {"200": {description: 200 response,content: {application/json: {schema: {$ref: "#/components/schemas/ValidationResult"}}}},"400": {description: 400 response,content: {application/json: {schema: {$ref: "#/components/schemas/ValidationError"}}}}},security: [{csrf: []}]}}},components: {schemas: {ConfigResponse: {type: object,properties: {hash: {type: string},data: {type: string},interpolated: {type: boolean}}},StoreRequest: {type: object,properties: {yaml: {type: string},interpolate: {type: boolean}},required: [yaml]},StoreResponse: {type: object,properties: {id: {type: string},hash: {type: string},path: {type: string}}},Error: {type: object,properties: {error: {type: string},code: {type: string}}},YAMLString: {type: object,properties: {content: {type: string}}},ValidationResult: {type: object,properties: {valid: {type: boolean},errors: {type: array,items: {type: string}}}},ValidationError: {type: object,properties: {error: {type: string},details: {type: array,items: {type: string}}}},AutoGenerated: {type: object,properties: {content: {type: string}}},ProductReadResponseSchema: {type: object,properties: &properties {id: {type: string},name: {type: string},category: {type: string},price: {type: number},inStock: {type: boolean},createdAt: {type: string,format: date-time},metadata: {type: string}},required: &required [id,name,category,price,inStock,createdAt,metadata],x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-def67890.ts,x-generated-at: 2025-10-29T15:24:02.558Z},ProductQuerySchema: {type: object,properties: {category: {type: string},minPrice: {type: number},maxPrice: {type: number},inStockOnly: {type: boolean}},required: [minPrice,maxPrice],x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-def67890.ts,x-generated-at: 2025-10-29T15:24:02.558Z},ProductReadResponse: {type: object,properties: *properties,required: *required,x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-def67890.ts,x-generated-at: 2025-10-29T15:24:02.558Z},AiSuggested57c3b4fdResponseSchema: {type: object,properties: &properties1 {metricsId: {type: string},name: {type: string},status: {type: string},createdAt: {type: string,format: date-time},data: {type: string}},required: &required1 [metricsId,name,status,createdAt,data],x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-2.ts,x-generated-at: 2025-10-29T15:24:02.558Z},AiSuggested57c3b4fdResponseResponse: {type: object,properties: *properties1,required: *required1,x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-2.ts,x-generated-at: 2025-10-29T15:24:02.558Z},AiSuggested6855e420ResponseSchema: {type: object,properties: &properties2 {toggleId: {type: string},name: {type: string},status: {type: string},createdAt: {type: string,format: date-time},data: {type: string}},required: &required2 [toggleId,name,status,createdAt,data],x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-3.ts,x-generated-at: 2025-10-29T15:24:02.558Z},AiSuggested6855e420ResponseResponse: {type: object,properties: *properties2,required: *required2,x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-3.ts,x-generated-at: 2025-10-29T15:24:02.558Z},AiSuggested31f44874ResponseSchema: {type: object,properties: &properties3 {generateId: {type: string},name: {type: string},status: {type: string},createdAt: {type: string,format: date-time},data: {type: string}},required: &required3 [generateId,name,status,createdAt,data],x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-4.ts,x-generated-at: 2025-10-29T15:24:02.558Z},AiSuggested31f44874ResponseResponse: {type: object,properties: *properties3,required: *required3,x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-4.ts,x-generated-at: 2025-10-29T15:24:02.558Z},AiSuggested71dd4d5cResponseSchema: {type: object,properties: &properties4 {auditId: {type: string},name: {type: string},status: {type: string},createdAt: {type: string,format: date-time},data: {type: string}},required: &required4 [auditId,name,status,createdAt,data],x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-0.ts,x-generated-at: 2025-10-29T15:24:02.558Z},AiSuggested71dd4d5cResponseResponse: {type: object,properties: *properties4,required: *required4,x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-0.ts,x-generated-at: 2025-10-29T15:24:02.558Z},AiSuggestedC76ee4bcResponseSchema: {type: object,properties: &properties5 {exportId: {type: string},name: {type: string},status: {type: string},createdAt: {type: string,format: date-time},data: {type: string}},required: &required5 [exportId,name,status,createdAt,data],x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-1.ts,x-generated-at: 2025-10-29T15:24:02.558Z},AiSuggestedC76ee4bcResponseResponse: {type: object,properties: *properties5,required: *required5,x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-1.ts,x-generated-at: 2025-10-29T15:24:02.558Z},AiSuggested34cd338bResponseSchema: {type: object,properties: &properties6 {metricsId: {type: string},name: {type: string},status: {type: string},createdAt: {type: string,format: date-time},data: {type: string}},required: &required6 [metricsId,name,status,createdAt,data],x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-2.ts,x-generated-at: 2025-10-29T16:51:39.995Z},AiSuggested34cd338bResponseResponse: {type: object,properties: *properties6,required: *required6,x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-2.ts,x-generated-at: 2025-10-29T16:51:39.996Z},AiSuggested09c5e302ResponseSchema: {type: object,properties: &properties7 {toggleId: {type: string},name: {type: string},status: {type: string},createdAt: {type: string,format: date-time},data: {type: string}},required: &required7 [toggleId,name,status,createdAt,data],x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-3.ts,x-generated-at: 2025-10-29T16:51:39.996Z},AiSuggested09c5e302ResponseResponse: {type: object,properties: *properties7,required: *required7,x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-3.ts,x-generated-at: 2025-10-29T16:51:39.996Z},AiSuggestedCb2917deResponseSchema: {type: object,properties: &properties8 {generateId: {type: string},name: {type: string},status: {type: string},createdAt: {type: string,format: date-time},data: {type: string}},required: &required8 [generateId,name,status,createdAt,data],x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-4.ts,x-generated-at: 2025-10-29T16:51:39.996Z},AiSuggestedCb2917deResponseResponse: {type: object,properties: *properties8,required: *required8,x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-4.ts,x-generated-at: 2025-10-29T16:51:39.996Z},AiSuggested088eb7bbResponseSchema: {type: object,properties: &properties9 {auditId: {type: string},name: {type: string},status: {type: string},createdAt: {type: string,format: date-time},data: {type: string}},required: &required9 [auditId,name,status,createdAt,data],x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-0.ts,x-generated-at: 2025-10-29T16:51:39.996Z},AiSuggested088eb7bbResponseResponse: {type: object,properties: *properties9,required: *required9,x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-0.ts,x-generated-at: 2025-10-29T16:51:39.996Z},AiSuggestedAcb8d1daResponseSchema: {type: object,properties: &properties10 {exportId: {type: string},name: {type: string},status: {type: string},createdAt: {type: string,format: date-time},data: {type: string}},required: &required10 [exportId,name,status,createdAt,data],x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-1.ts,x-generated-at: 2025-10-29T16:51:39.996Z},AiSuggestedAcb8d1daResponseResponse: {type: object,properties: *properties10,required: *required10,x-ai-generated: true,x-source-handler: ./routes/ai/suggestion-1.ts,x-generated-at: 2025-10-29T16:51:39.996Z}},securitySchemes: {csrf: {type: apiKey,in: header,name: X-CSRF-Token},vault: {type: http,scheme: bearer,bearerFormat: JWT}}},tags: [{name: config},{name: yaml},{name: write},{name: realtime},{name: ws},{name: validate}]}